<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APSRTC Execution">
<parameter name="url" value="https://www.apsrtconline.in"></parameter>
<parameter name="uname" value="Vijay111"></parameter>
<listeners>
	<listener class-name="base.ListenersDemo"></listener>
</listeners>
  <test thread-count="5" name="LoginModule">
    <classes>
      <class name="base.SignInModuleTest"/>
      <class name="base.RegistrationModuleTest"/>
     
    </classes>
  </test> 

 <test thread-count="5" name="HomePageModule">
    <classes>
      <class name="base.HomeModuleTest"/>
	  <class name="base.GalleryWalletTest"/>
	  <class name="base.TicketStatusTest"/>
     
    </classes>
  </test>
<!-- Test -->
</suite> <!-- Suite -->
